@import './nRoot.css';

.soon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--honey);
      font-size: 5vw; 
      flex-grow: 1;
      max-width: 100%; 
      max-height: 100vh; /
}
    
@media (max-width: 900px){
      .soon{
            font-size: 8vw;
      }
}