@import "./nRoot.css";

.intros{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3vw;
      padding: 5vw;
}

.intros img{
      max-width: 14vw;      
}

.intro{
      max-width: 40vw;
      text-align: left;
}
.name-h2{
      font-size: 1.4vw;
}

.intro p {
      font-size: 1vw;
      line-height: 1.5;
}

.media-text{
      display: none;
}

.intro .name {
      font-size: 1.7vw;
}

.name span {
      font-size: 4vw;
      color: var(--honey);
      display: block;
      font-weight: 300;
}
.media{
      list-style-type: none;
      padding: 0;
      margin: 2rem 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 3vw;
      font-size: 2.8vw;
}

.media-links .media li a i{
      color: var(--honey);
}

.media-links .media li a i:hover{
      color: white;
}

@media (max-width: 700px){
      .center-container{
            margin: 0;
            padding: 0;
      }
      .intro .name span{
            font-size: 8.5vw;
            display: none;
      }
      .name {
            font-size: 20vw;
            display: none;
      }
      .honey{
            margin: 0;
      }
      .media-text{
            display: flex;
            font-size: 12vw;
            margin: 5vh;
      }
      
      .name-h2{
            font-size: 2.2vw;
            display: none;
      }

      .intros{
            flex-direction: column;
            margin: 5vh;
            padding: 0;
      }
      .intros img{
            max-width: 60vw;
      }
      .media{
            font-size: 10vw;
      }
}
