:root {
      --font: 'Sometype Mono', monospace;
      --l-blue: #295BF2;
      --d-blue: #2955D9;
      --black: #0D0D0D;
      --honey: #F2BA52;
      --green: #57F29A;
    }
    
    html {
      box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }
    
    body {
      font-family: var(--font);
      overflow: hidden;
      background-color: black;
      color: white;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: space-between; /* Ustawienie zawartości na środku między nawigacją i stopką */
    }
    
    /* nav bar */
    .nav-img {
      max-width: 100px;
    }
    
    nav {
      font-size: 120%;
      padding: 1rem;
      position: absolute;
      top: 0;
      width: 100%; /* Navbar na samej górze strony */
    }
    
    nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    
    nav ul li h1 a {
      color: #F2BA52;
      font-size: 2.2rem;
    }
    
nav ul li h1 a:hover {
      color: white;
}

.center-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}
nav a {
      color: white;
      text-decoration: none;
      display: block;
}
    
nav a:hover {
      color: var(--honey);
}
    
footer {
      text-align: center;
      font-size: 120%;
      position: absolute;
      bottom: 0;
      width: 100%; /* Stopka na samym dole strony */
}